.user-greet {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .2em;
    font-size: 1.6rem;
    font-family : Montserrat;
    text-align: center;
}

.stats-div {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 90%;
    position: relative;
    background-color: white;
    background: linear-gradient(to bottom, white 0, white 100%) no-repeat;
    background-size: calc(70%); /* Reduce height of background by 100px and width by 100px*/
    background-position: center;
}


/* List */
.top-results ul {
    counter-reset: index;
    padding: 0;
    width: 70%;
    margin: auto;
    font-family : Montserrat;
    justify-content: center;
}

/* List element */
.track {
    counter-increment: index;
    display: flex;
    align-items: center;
    padding: 1% 23%;
    box-sizing: border-box;
    font-size: calc(.6vw + .6vh + .6vmin);
    word-wrap: break-word;
}

.artist {
    counter-increment: index;
    display: flex;
    align-items: center;
    padding: 1% 35%;
    box-sizing: border-box;
    font-size: calc(.6vw + .6vh + .6vmin);
    word-wrap: break-word;
}

.top-results img {
    margin-right: 3%;
    width: 70px;
    height: 70px;
    border-radius: 30%;
}

/* Element counter */
.top-results li::before {
    content: counters(index, ".", decimal-leading-zero);
    font-size: 2.5rem;
    text-align: right;
    font-weight: bold;
    min-width: 20%;
    padding-right: 7%;
    font-variant-numeric: tabular-nums;
    background-image: linear-gradient(to bottom, aquamarine, orangered);
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Element separation */
.top-results li + li {
    border-top: 1px;
}

body {
    /* background: #1A1E23; */
    font-family: 'Montserrat', sans-serif;
    /* color: white; */
    -webkit-font-smoothing: antialiased;
}

nav {
    position: relative;
    padding-bottom: 12px;
}

nav .line {
    height: 2px;
    position: absolute;
    bottom: 0;
    margin: 1% 0 0 0;
    background: #1DB954;
}

nav .line-time {
    height: 2px;
    position: absolute;
    bottom: 0;
    margin: 1% 0 0 0;
    background: #1DB954
;
}

nav ul {
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

nav ul li {
    margin: 0 5% 0 0;
    opacity: .4;
    transition: all 0.4s ease;
    display: inline;
    text-transform: uppercase;
}

nav ul li:hover {
    opacity: .7;
}

nav ul li.active {
    opacity: 1;
}


nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    /* color: #fff; */
    text-transform: uppercase;
    display: inline-block;
    font-weight: 600;
    letter-spacing: .2em;
    font-size: 1.0rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    top: 110%;
    left: 0%;
    width: 99%;
    height: 100%;
    background: linear-gradient(-45deg, #c8e4d2, #d2d0dd, #eccaca, #c7a585);
    background-size: 600% 600%;
    animation: gradient 8s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.leaf{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    overflow:hidden;
    z-index:-4;
}

.leaf div{
    position: absolute;
    display:block;
}

.no-rad img {
    border-radius: 80%;
    opacity: 98%;
}

.low-rad img {
    border-radius: 80%;
    opacity: 97%;
}

.mid-rad img {
    border-radius: 80%;
    opacity: 99%;
}

.big-rad img {
    border-radius: 80%;
    opacity: 99%;
}

.leaf div:nth-child(1){
    left:1%;
    top: 50%;
    animation:fall 70s linear infinite ;
    animation-delay:-2s;
}
.leaf div:nth-child(2){
    left:3%;
    animation:fall 50s linear infinite ;
    animation-delay:-3s;
}
.leaf div:nth-child(3){
    left:5%;
    animation:climb 53s linear infinite ;
    animation-delay:-4s;
}
.leaf div:nth-child(4){
    left:98%;
    bottom: 70%;
    animation:fadeIn 3s, moveleft 45s linear infinite ;
}
.leaf div:nth-child(5){
    left:88%;
    animation:fall 45s linear infinite;
    animation-delay:-5s;
}
.leaf div:nth-child(6){
    left:94%;
    animation:climb 62s linear infinite ;
    animation-delay:-10s;
}
.leaf div:nth-child(7){
    left:0%;
    bottom: 80%;
    animation:fadeIn 3s, moveright 51s linear infinite ;
    animation-delay:-4s;
}
.leaf div:nth-child(8){
    left:92%;
    animation:fadeIn 3s, moveleft 40s linear infinite ;
    animation-delay:-5s;
}
.leaf div:nth-child(9){
    left:94%;
    bottom: 20%;
    animation:fadeIn 3s, moveleft 35s linear infinite ;
}
.leaf div:nth-child(10){
    left:0%;
    animation:fadeIn 3s, moveright 49s linear infinite ;
    animation-delay:-4s;
}
.leaf div:nth-child(11){
    left:86%;
    animation:fall 55s linear infinite ;
    animation-delay:-10s;
}
.leaf div:nth-child(12){
    left:8%;
    animation:fall 62s linear infinite ;
    animation-delay:-4s;
}
.leaf div:nth-child(13){
    left:0%;
    bottom: 60%;
    animation:fadeIn 3s, moveright 42s linear infinite ;
    animation-delay:-5s;
}
.leaf div:nth-child(14){
    left:93%;
    animation:fall 56s linear infinite ;
    animation-delay:-5s;
}
.leaf div:nth-child(15){
    left:4%;
    animation:climb 39s linear infinite ;
    animation-delay:-4s;
}
.leaf div:nth-child(16){
    left:87%;
    bottom: 30%;
    animation:fadeIn 3s, moveleft 30s linear infinite ;
}
.leaf div:nth-child(17){
    left:8%;
    animation:fadeIn 3s, moveright 42s linear infinite ;
    animation-delay:-4s;
}
.leaf div:nth-child(18){
    left:90%;
    animation:fall 50s linear infinite ;
    animation-delay:-5s;
}
.leaf div:nth-child(19){
    left:96%;
    animation:climb 31s linear infinite ;
    animation-delay:-10s;
}
.leaf div:nth-child(20){
    left:3%;
    animation:climb 38s linear infinite ;
    animation-delay:-4s;
}
.leaf div:nth-child(21){
    left:9%;
    animation:climb 47s linear infinite ;
    animation-delay:-4s;
}

@keyframes fall{
    0%{
        opacity:1;
        top:-10%;
    }
    20%{
        opacity:0.8;
    }
    100%{

        top:110%;
    }
}

@keyframes climb{
    100%{
        opacity:1;
        top:-10%;
    }
    80%{
        opacity:0.8;
    }
    0%{
        top:110%;
    }
}

@keyframes moveright {
    from {
        margin-left: -20%;
    }

    to {
        margin-left: 100%;
    }
}

@keyframes moveleft {
    to {
        margin-left: -200%;
    }

    from {
        margin-left: 100% ;
    }
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}