th, td {
    padding: 5%;
    height: 6%;
    width: 2%;
}

th+th, td+td {
    padding: 5%;
    height: 6%;
    width: 10%;
}

table {
    margin: 0 auto;
}

.top-results {
    margin: auto;
    width: 40%;
    border: 3px solid #73AD21;
    padding: 10px;
    font-family: Georgia;
    font-size: 300%;
    font-weight: bold;
}